
BackEnd/RainForestRegression_Model.pkl
BackEnd/MultiClassClassification_Model.pkl
BackEnd/__pycache__/main.cpython-312.pyc
BackEnd/.DS_Store
BackEnd/.DS_Store
BackEnd/__pycache__/main.cpython-312.pyc
.DS_Store
FrontEnd/PropertyLens-Website/package-lock.json
*.pyc
